<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- <meta name="color-scheme" content="dark light"/> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="navbar">
        <div class="left-side">
            <button class="sidebar-button">
                <i class="fa fa-bars">
                </i>
            </button>
            <div class="home-link">
                <a href="./home.html">
                    <i class="fa-solid fa-house"></i>
                </a>
            </div>
        </div>
        <div class="right-side">
            <div class="login-button">
                <button class="login-icon"><i class="fa fa-user"></i></button>
            </div>
            <div class="accInfo">

            </div>
        </div>
    </header>
    <div class="sidebar active">
        <ul>
            <li>
                <div class="sidebar-item-container"> <!-- future proofing for when more items are added -->
                    <a href="./hosts.html">
                        <!-- icon here!!! -->
                        Hosts
                    </a>
                </div>
            </li>
            <li>
                <div class="sidebar-item-container"> <!-- future proofing for when more items are added -->
                    <a href="./settings.html">
                        <!-- icon here!!! -->
                        Settings
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="main-body">
        <h1 class="main-body-title">Overview</h1>
        <div class="search-bar">
            <input type="text" id="host-search-bar" placeholder="...">
            <button class="search-enter">
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
        <div class="dashboard">
            <!-- cluster of boxes/menus/graphs here showing some data  -->
            <div class="widget server-list">
                <h4 class="header">Hosts</h4>
                <table class="host-list">
                    <thead>
                        <tr>
                            <th class="table-header">Name</th>
                            <th class="table-header">IP Address</th>
                            <th class="table-header">Owner</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="../controllers/home.js"></script>

</html>