<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- <meta name="color-scheme" content="dark light"/> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="./styles/static.css">
</head>

<body>
    <form class="login-frame" method="post">
        <header class="login-header">Log in to your account</header>
        <input type="text">
        <input type="text">
        <!-- add submit button -->
        <button class="login-button">Log In</button>
    </form>
</body>